@import "tailwindcss";

@theme {
  --color-void: #0B0B12;
  --color-surface: #17131F;
  --color-bone: #F1EEF7;
  --color-volt: #9D00FF;
  --color-volt-bright: #C77DFF;
  --color-spark: #FFC93C;

  --font-display: var(--font-big-shoulders);
  --font-body: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background-color: var(--color-void);
  color: var(--color-bone);
  font-family: var(--font-body);
}